---
layout: news
title: About OLauncher
---

<div class="permanent-post">
  <p>The old launcher we all know and love with the quality-of-life features of the new launcher. This aims to support java 8 through modern java.</p>

  <p><strong>Project Status:</strong><br>
  This project is maintained on a best-effort basis and updates will only be made when I have the time. The fork was originally created to ensure the launcher could display new update notes and similar fixes. There are currently no planned features beyond this scope.</p>
</div>

{% for post in paginator.posts %}
  <div style="margin-top:16px">
    <h3><a href="https://ragedmeteor1837.github.io/olauncherabout{{ post.url }}">{{ post.title }}</a></h3>
    <div class="content">
      {{ post.content }}
    </div>
  </div>
{% endfor %}

<div class="pagination">
  {% if paginator.previous_page %}
    <a href="https://ragedmeteor1837.github.io/olauncherabout{{ paginator.previous_page_path }}" class="newer">Newer</a>
  {% endif %}
  {% if paginator.next_page %}
    <a href="https://ragedmeteor1837.github.io/olauncherabout{{ paginator.next_page_path }}" class="older">Older</a>
  {% endif %}
</div>
