<!DOCTYPE html>
<html lang="{{ site.lang }}">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="https://ragedmeteor1837.github.io/aboutolauncher/css/launcher.css">
  </head>

  <body style="background-image: url('https://ragedmeteor1837.github.io/aboutolauncher/img/bg_main.png');">
    <table width="100%" height="100%">
      <tbody>
        <tr valign="top">
          <td style="padding-left: 16px;padding-right: 16px;">
            <table width="100%">
              <tbody>
                <tr>
                  <td>
                    <h1>About OLauncher</h1>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="container">
              <div id="posts">
                  <h3><a href="{{ site.baseurl }}{{ post.url }}">{{ page.title }}</a></h3>
                  {{ content }}
                  
                  {% if page.next %}
                    <a href="https://ragedmeteor1837.github.io/olauncherabout{{ page.next.url }}">Newer</a>
                  {% endif %}
                  {% if page.previous %}
                    <a href="https://ragedmeteor1837.github.io/olauncherabout{{ page.previous.url }}">Older</a>
                  {% endif %}
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
